html, body {
	background: #373F51;
	font-family: 'Lato', helvetica, arial, sans-serif;
	font-size: 16px;
	color: #D8DBE2;
}

p {
	font-size: 1em;
	padding: 35px;
	margin: 35px
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #D8DBE2;
	text-align: justify;
}

h1 {
	border-bottom: 2px solid #A9BCD0;
	padding: 20px
  color: #A9BCD0 ;
}

h2 {
  border-bottom: 2px solid #A9BCD0;
	font-size: 20px;
  color: #373F51;
	padding: 20px 0 0;
}

#mainArea { width: 85%;
max width: 800px;
background : #58A4B0;
margin: 25px auto;
}

}
.clear {
  clear: both;
}

.mainDetails {
border: 10px solid #grey;
text-align: center;
}

.sectionContent{
	font-size: 1.5em
}

.sectionTitle{
	font size: 2.0em
}
